My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const current = $json[\"price\"]; // ราคาปัจจุบันจาก API\nconst reference = $json[\"previousClose\"] || 100; // ราคาอ้างอิง (ใส่เองหรือมาจาก API)\nconst change = ((current - reference) / reference) * 100; // % เปลี่ยนแปลง\n\nreturn [{\nsymbol: $json[\"symbol\"] || \"UNKNOWN\",\ncurrentPrice: current,\nreferencePrice: reference,\nchangePercent: change\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -112
      ],
      "id": "659584b9-cb92-4815-92c4-5164445d72bd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05743f11-cfd3-46f7-9616-c4bd736d192b",
              "leftValue": "={{ $('HTTP Request1').item.json.data }}",
              "rightValue": "ChangePercent>=10%",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b6a70fca-6dfb-4001-bc99-0b66e42bfb79",
              "leftValue": "={{ $json.changePercent }}",
              "rightValue": "ChangePercent>=20%",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        -112
      ],
      "id": "1071f6da-ea4b-4463-af48-8fff3f57264b",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://www.settrade.com/th/home",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -112
      ],
      "id": "c88d758b-54aa-4278-bc4b-a8f7ddade4e1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 59
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -848,
        -112
      ],
      "id": "c35ba45e-2dfd-4029-8af8-3365b3bfc3e3",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "sendTo": "66010915670@msu.ac.th",
        "subject": "แจ้งเตือนหุ้น",
        "message": "แจ้งเตือนหุ้น",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        144,
        -224
      ],
      "id": "c351d509-64d4-4545-b301-4fb48a2c09b9",
      "name": "Send a message",
      "webhookId": "8a3cad03-4d28-4c0f-ac13-44e95049b8a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "MgUJWQxy1x8zbJ89",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "66010915670@msu.ac.th",
        "subject": "แจ้งเตือนหุ้น",
        "message": "ไครวย",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        -32
      ],
      "id": "965074de-cc5b-4d75-a7e8-25a4cb750d74",
      "name": "Send a message1",
      "webhookId": "8a3cad03-4d28-4c0f-ac13-44e95049b8a1",
      "credentials": {
        "gmailOAuth2": {
          "id": "MgUJWQxy1x8zbJ89",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c5e403d-6190-4ce2-ad90-c39cd1d73187",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2758c517a72db29609ebf00da2dfe87a4acc6710f069bf1be0731d56a713a28"
  },
  "id": "Qe9onnKQSeLjnnOY",
  "tags": []
}